body	{
	background-color: yellow;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 75px;
}
h1,	p	{
	color:	white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
}