@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Sanchez);
* {margin:0;padding:0;box-sizing:border-box;}
body	{
	background: rgba(243,255,28,1);
	text-align: center;
	font-family: 'Sanchez', serif;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20 px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	font-size: 1em;
}

nav a {
	text-decoration: none;
	color: #000000;
	margin: 0 1.75em;
	display: inline-block;
	padding: .5em;
}

h1	{
	color: rgba(4,104,232,1);
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
}

p	{
	font-size: 25px;
	font-weight: 600;
	font-family: 'Sanchez', serif;
	padding: 1em;
}

article {
	background-color: green;
	float: left;
	font-size: 25px;
	padding: 2em;
	width: 33.33%;
	min-height: 24em;
}

ul	{
	font-size: 18px;
	text-align: left;
	font-family: 'Sanchez', serif;
	list-style: inherit;
	padding: 1em;
}

a   {
	font-size: 25px;
	font-family: 'Sanchez', serif;
}

a:hover {
	background-color: #aaaaaa;
}

footer {
	/* clear: both; */
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20 px;
}

#slogan {
	font-style: italic;
}

#three_column {
	background-color: red;
	border: 1px black solid;
}

#left_column {
	background-color: violet;
}

#right_column {background: blue;}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* { text-rendering: optimizeLegibility; }
