@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,800,700,600,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Sanchez:400,400italic);
* {margin:0;padding:0;box-sizing:border-box;}
body	{
	background: rgba(243,255,28,1);
	text-align: center;
	font-family: 'Sanchez', serif;
	font-size: 16px;
}

header {
	background-color: rgba(243,255,28,1);
	color: white;
}

section {
	background-color: #FFE2B8;
	font-size: 1em;
	padding: 1%;
}

nav {
	background-color: gainsboro;
	border: 0.1em white solid;
	border-radius: 20px;
}

nav a {
	font-size: 1.5em;
	text-decoration: none;
	color: #000000;
	display: inline-block;
}

h1	{
	color: white;
	font-weight: 700;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 3em;
}

p	{
	font-size: 1em;
	color: white;
	font-weight: 600;
	font-family: 'Sanchez', serif;
	padding: 1em;
}

label {
    display:none;
    width:3em;
    background-color: rgba(243,255,28,1);
    padding:20px;
}

article {
	background: rgba(0,0,0,.8);
	color: white;
	float: left;
	font-size: 1.5em;
	padding: 2em;
	width: 32.33%;
	margin: 0.5%;
	min-height: 29em;
	border-radius: 20px;
}

ul	{
	font-size: 0.75em;
	text-align: left;
	font-family: 'Sanchez', serif;
	list-style: inherit;
	padding: 1em;
}

a nav,footer{
	font-size: 1.5em;
	text-decoration: none;
	padding: 0 1em;
	color: black;
	font-family: 'Sanchez', serif;
}

a:hover {
	background-color: black;
	color: white;
}

footer {
	background-color: gainsboro;
	border: 0.1em white solid;
	vertical-align: middle;
}

article img {
	width: 75%;
	text-align: center;
}

label img {
	width: 1.5em;
}

footer img {
	max-width: 3%;
}

#title {
	display: inline-block;
	background: rgba(0,0,0,.8);
	border-radius: 20px;
	margin: 0.5em;
	padding-top: 0.6em;
	width: 33.3%
}

#slogan {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300italic;
	font-style: italic;
	font-size: 1.25em;
	color: white;
}

#three_column {
	background-color: rgba(243,255,28,1);
}

#left_column {}

#right_column {}

#hamburger {
	display: none;
	color: white;
	padding:.5em;
	font-size: 1.5em;
	background-color: gainsboro;
	border-radius: 20px;
	border: 0.25em white solid;
}

#menu {
	display: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (max-width: 1160px){

	article {
		width: 46%;
		margin: 1.5%;
		min-height: 420px;
	}

	nav a {
		display: block;
		text-align: center;
		margin: 0;
		padding: 0.5em;
		font-size: 2em;
	}

	footer a {
		font-size: 1.5em;
		padding: 0.5em;
		text-decoration: none;
		color: black;
	}

	article img {
		width: 50%;
	}

	footer img {
		max-width: 5%;
	}	

	a:hover {
		background-color: black;
		color: white;
	}

	#right_column {
		position: absolute;
		top: 33em;
		width: 45%;
		min-height: 23em;
	}

	#middle_column {
		min-height: 41em;
	}
}

@media only screen and (max-width: 1059px){

	article {
		min-height: 450px;
	}

	#right_column {
		position: absolute;
		top: 34em;
		min-height: 22em;
	}
}

@media only screen and (max-width: 1030px){

	article {
		min-height: 400px;
	}

	input{
		padding: 26px;
		font-size: 1em;
	}

	#right_column {
		position: absolute;
		top: 35em;
		min-height: 21em;
	}
}

@media only screen and (max-width: 845px){

	article {
		min-height: 500px;
	}

	input{
		padding: 25px;
		font-size: 0.75em;
	}

	#right_column {
		position: absolute;
		top: 35em;
		min-height: 20em;
	}
}

@media only screen and (max-width: 769px) {
	
	h1	{
		font-size: 1.5em;
	}

	nav {
		display: none;
	}

	label{
        display:block;
    }

	#title {
		float: right;
		margin-bottom: 1em;
		width: 80%
	}

	#menu:checked + #hamburger {
        left:0;
    }

	#hamburger {
		float: right;
		display: block;
		position:absolute;
        width:7em;
        height: 6em;
        left:-400px;
        -webkit-transition: left ease .5s;
        -moz-transition: left ease .5s;
        -o-transition: left ease .5s;
        transition: left ease .5s;
	}

	#wrapper {
    max-width: 1500px;
    margin: 0 auto;
}

	#slogan {
		font-size: .75em;
	}

	#right_column {
		position: absolute;
		top: 33em;
		min-height: 20em;
	}
}

@media only screen and (max-width: 709px) {

	article {
		min-height: 520px;
	}

	input{
		padding: 20px;
		font-size: 0.5em;
	}

	#right_column {
		position: absolute;
		top: 34em;
		min-height: 19em;
	}

}

@media only screen and (max-width: 661px){

	#right_column {
		position: absolute;
		top: 34em;
		min-height: 19em;
	}
}

@media only screen and (max-width: 579px){

	article {
		float: none;
		width: auto;
		min-height: 1em;
	}

	input{
		padding: 15px;
		font-size: 0.5em;
	}

	#right_column {
		position: static;
		width: auto;
		min-height: 1em;
	}

	#middle_column {
		min-height: 0em;
	}
}

@media only screen and (max-width: 320px) {

	footer a {
		display: block;
		text-align: center; 
		margin: 0;
	}

	article img {
		width: 75%;
	}
	footer img {
		max-width: 20%;
	}

	#slogan {
		font-size: .5em;
	}	
	
}
}

